---
layout: page
body_class: page-template
permalink: /categories/index.html
title: Categories List
---

<%
	cats =collections.categories.sort();
    
	function titleCase(str) {
		/*
		Some hacks - sorry not sorry, this repeats a bit from .eleventy.js/fixcattag
		*/
		if(str.toLowerCase() === 'javascript') return 'JavaScript';
		if(str.toLowerCase() === 'coldfusion') return 'ColdFusion';
		if(str.toLowerCase() === 'jquery') return 'jQuery';
		if(str.toLowerCase() === 'pdf services') return 'PDF Services';

		return str.replace(
		/\w\S*/g,
		function(txt) {
			return txt.charAt(0).toUpperCase() + txt.substr(1);
		}
		);
	}

	function  myEscape(s)  {
	    return s.replace(/ /g, '+');
	}
%>

<ul>
	<% for(cat of cats) { %> 
		<li><a href="/categories/<%= myEscape(cat) %>"><%= titleCase(cat) %></a></li>
	<% } %>
</ul>
