<h1>Posts</h1>

{% assign mostRecent = collections.posts | reverse %}
{% for post in mostRecent limit:10  %}
	<a href="{{post.url}}">{{ post.data.title }} - {{ post.date }}</a> <br/>
{% endfor %}