<footer id="colophon" class="site-footer">
    <p class="site-info inner"><a href="{{site.url}}">{{site.title}}</a> &copy; 
    {{ "now" | date: "%Y" }}. Theme by <a href="https://justgoodthemes.com/">Just Good Theme</a>. 
	Powered by <a href="https://www.11ty.dev/">Elventy</a>.
    <a id="back-to-top" class="back-to-top" href="#page"><span class="icon-arrow-up" aria-hidden="true"></span><span class="screen-reader-text">Back to top</span></a>
</footer><!-- .site-footer -->
