<div class="webmentions-area" style="display:none">
	<div class="webmentions-inner">

		<h3>Webmentions</h3>

		<!-- replies via twitter -->
		<div id="webmentions-replies"></div>

		<!-- both likes and RTs -->
		<div id="webmentions-likes"></div>

    </div>
</div>
