/**
 * 6. Archive Template
 */

.page-header {
  margin-bottom: 1.66667em;
}

.page-title {
  font-size: 1.33333rem;
  margin: 0 0 0.25rem;
}

.page-description {
  color: $gray-light;
  font-size: 0.77778rem;
  letter-spacing: 0.14em;
  line-height: 1.5;
  margin: 0.25em 0 0;
  text-transform: uppercase;
}
