/**
 * 3. Site Header
 */

.site-header {
  background: $gray-darkest;
  color: #fff;
}

.site-header-inside {
  padding: 0.83333em 3vw;
}

.site-branding {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 1rem;
}

.site-logo,
.profile {
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 10px 0 0;

  a {
    color: $gray-darkest;
  }
}

.site-logo img {
  max-height: 50px;
}

.profile .avatar {
  border: 2px solid $color-accent;
  border-radius: 100%;
  display: block;
  height: 50px;
  width: 50px;
}

.site-title {
  font-family: $font-secondary;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  margin: 0;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.site-description {
  color: $gray;
  font-family: $font-primary;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.2;
  margin: 0.4em 0 0;
}

#menu-toggle {
  background-color: transparent;
  border: 0;
  color: #fff;
  height: 30px;
  margin-left: auto;
  padding: 0;
  position: relative;
  width: 30px;
  z-index: 9999;
}

.site-navigation {
  background: $gray-darkest;
  bottom: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  right: -100%;
  top: 0;
  -webkit-transition: right .3s, visibility 0s .3s;
  transition: right .3s, visibility 0s .3s;
  visibility: hidden;
  width: 100%;
  z-index: 9998;

  .menu {
    border-bottom: 1px solid $gray-dark;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }

  .menu-item {
    border-top: 1px solid $gray-dark;
    font-size: 0.77778rem;
    line-height: 1.5;
    letter-spacing: 0.15em;
    padding: 0.5em 0;
    text-transform: uppercase;

    a {
      color: $gray-light;
      text-decoration: none;
    }
  }

  .menu-item a:hover,
  .current-menu-item a {
    color: $color-accent;
  }
}

.site-nav-wrap {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.site-nav-inside {
  padding: 4em 3vw;
}

.social-links {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1.66667em;

  a {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: $gray;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0 10px 0.5em 0;
    padding: 0 3px;
    text-decoration: none;

    &:hover {
      color: $color-accent;
    }
  }

  svg {
    fill: currentColor;
    height: 18px;
  }
}

a[href*="twitter.com"],
a[href*="tumblr.com"],
a[href*="patreon.com"],
a[href^="mailto:"],
a[href$="/rss/"] {
  svg {
    height: 16px;
  }
}

@media only screen and (min-width: 801px) {
  .site-header {
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 30vw;
  }

  .site-header-wrap {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }

  .site-header-inside {
    padding-bottom: 3.33333em;
    padding-top: 3.33333em;
  }

  .site-branding {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .site-identity {
    margin-bottom: 1.66667em;
    padding: 0;
  }

  .site-logo,
  .profile {
    margin: 0 0 1.66667em;
  }

  .site-logo img {
    max-height: 100px;
  }

  .profile .avatar {
    height: 100px;
    width: 100px;
  }

  .site-title {
    font-size: 1.33333rem;
    line-height: 1.2;
  }

  .site-description {
    font-size: 0.77778rem;
    line-height: 1.2;
    margin-top: 0.4em;
  }

  .menu-toggle {
    display: none;
  }

  .site-navigation {
    position: static;
    visibility: visible;
  }

  .site-nav-inside {
    padding: 0;
  }

  .social-links {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    a {
      margin: 0 5px 0.5em;
    }
  }
}

@media only screen and (min-width: 1001px) {
  .site-header {
    width: 300px;
  }

  .site-header-inside {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .menu--opened {
    .site {
      height: 100%;
      left: 0;
      overflow: hidden;
      position: fixed;
      top: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      width: 100%;
      z-index: 9997;
    }

    .site-navigation {
      right: 0;
      -webkit-transition: right .3s ease-in-out;
      transition: right .3s ease-in-out;
      visibility: visible;
    }
  }
}
