/**
 * 2. Layout
 */

.inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

.site {
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.site-content {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
  padding: 2.5em 3vw;
}

.site-main,
.site-footer {
  max-width: 1080px;
}

.site-main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 1.66667em;
}

@media only screen and (min-width: 801px) {
  .site-content {
    margin-left: 30vw;
    padding-bottom: 3.33333em;
    padding-top: 3.33333em;
  }
}

@media only screen and (min-width: 1001px) {
  .site-content {
    margin-left: 300px;
  }
}

@media only screen and (min-width: 2001px) {
  .site-content {
    padding-left: 60px;
    padding-right: 60px;
  }
}
