/* 10. PrismJS
 * v1.17.1
 * prism.js theme for JavaScript, CSS and HTML
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #eee;
  background: $gray-darkest;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

:not(pre) > code[class*="language-"] {
  padding: 0.25em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #666;
}

.token.punctuation {
  color: #aaa;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #d387a8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #d4a259;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #b2a899;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #59b4d4;
}

.token.function,
.token.class-name {
  color: #d46559;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: normal;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
